service cloud.firestore {

	function isOwner() {
    return get(/databases/$(database)/documents/users/$(request.auth.uid)).role == 'Owner';
  }

  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
      allow create, delete: if isOwner();
    }
  }

  match /databases/{database}/documents {
    match /requests/{requestId} {
      allow read, update, delete: if request.auth.uid != null;
      allow create: if true;
    }
  }

  match /databases/{database}/documents {
    match /schools/{schoolId} {
      allow read, update: if request.auth.uid != null;
      allow create, delete: if isOwner();
    }
  }

  match /databases/{database}/documents {
      match /schools/{schoolId}/notifications/{notificationId} {
        allow read, create, update: if request.auth.uid != null;
        allow delete: if isOwner();
      }
    }
}