<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094421769111-nvaec79pncjrnj6jfo8pme3e3ebvlifr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094421769111-nvaec79pncjrnj6jfo8pme3e3ebvlifr</string>
	<key>API_KEY</key>
	<string>AIzaSyCt4CEHZJxJJeH84YH8jSxBx5um0ftKCEU</string>
	<key>GCM_SENDER_ID</key>
	<string>1094421769111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oandmtech.SchoolVillage</string>
	<key>PROJECT_ID</key>
	<string>schoolvillage-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolvillage-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094421769111:ios:4420e02b3687f1b8</string>
	<key>DATABASE_URL</key>
	<string>https://schoolvillage-dev.firebaseio.com</string>
</dict>
</plist>